/* 清除浏览器的默认间距 */
*{
    margin: 0;padding: 0
}
/* 清除b、strong标签的默认样式 */
b,strong{
    font-weight: normal
}
/* 清除i、em标签的默认样式 */
i,em{
    font-style: normal
}
/* 清除a、u标签的默认下划线 */
a,u{
    text-decoration: none
}
/* 清除列表默认样式符号 */
ul,li{
    list-style: none
}
/* 解决行内块元素基线对齐的问题 */
img,input{
    vertical-align: middle
}
/* 解决图片bug问题 */
img{
    border: none;
    display: block;
}


/* 第一部分 头部 */
#head{
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 14px;
    color: #616161;
    overflow: hidden;
}
#head .head-con{
    width: 1200px;
    height: 50px;
    margin: 0 auto;  
}
#head .head-con .left{
    cursor: pointer;
    float: left;
}
#head .head-con .left img{
    width: 257.4px;
    height: 54px;
}
#head .head-con .right{
    width: 328px;
    float: right;
    line-height: 50px;
    text-align: right;
}
#head .head-con .right a{
    color: #616161;
}
#head .head-con .right a:hover{
    color: #c43732;
}
#head .head-con .right li{
    display: inline-block;
    padding: 0 13px;
    text-align: right;
}

#head .head-con .right li:hover{
    cursor: pointer;
    color: #c43732;
}

/* 第二部分 导航 */
#nav{
    width: 100%;
    height: 90px;
    background-color: #303942;
    color: #fff;
}
#nav .nav-con{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: relative;
}
#nav .nav-con .left{
    width: 420px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#nav .nav-con .left li:nth-child(1){
    width: 165px;
    text-align: center;
}
#nav .nav-con .left li:nth-child(2){
    width: 122px;
    text-align: center;
}
#nav .nav-con .left li:nth-child(3){
    width: 160px;
    text-align: center;
}
#nav .nav-con .left li:nth-child(2){
    background: url(../images/bg.png);
    color: #c43732;
}
#nav .nav-con .left li:hover{
    background: url(../images/bg.png);
}
#nav .nav-con .right span:nth-child(1){
   font-size: 20px;
   margin-right: 10px;
}
#nav .nav-con .right span:nth-child(2){
    font-size: 16px;
 }
#nav .nav-con span:hover{
    cursor: pointer;
    color: #c43732;
}
#nav .nav-con .left li{
    height: 90px;
    line-height: 90px;
}
#nav .nav-con .left li:hover{
    border-bottom:2px #c43732 solid;
    color: #c43732;
}
.liList{
    padding: 0 30px 20px 30px;
    background: #ffffff;
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: 9999999;
    border: 1px solid #eeeeee;
    color: #616161;
    font-size: 16px;
    display: none;
}
.liList ul{
    height: 276px;
    box-sizing: border-box;
    width: 102px;
    float: left;
    margin-right: 5px;
}
.liList ul li{
    margin-bottom: 10px;
    cursor: pointer;
}
.liList ul li:hover{
    color: #c43732;
}
.liList ul li:nth-child(1){
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: auto;
}

/* 第三部分 轮播图 */
#wrap{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
#imgWrap{
    width: auto;
    margin: 0 auto;
    height: 414px;
}
#imgWrap li img{
    width: 100%;
    height: 100%;
}
#imgWrap li{
    display:none;
}
#imgWrap li.show{
    display: block;
}
#prev,#next{
    position:absolute;
    top:40%;
    cursor:pointer;
    opacity:.7;
    transition:all .5s;
}
#prev:hover,#next:hover{
    opacity:1;
    transform: scale(1.1)
}

#prev{
    left:30px;
}
#next{
    right:30px;
}
#dotWrap {
    position:absolute;
    bottom:15px;
    left:50%;
    transform: translate(-50%,0);
}
#dotWrap li{
    float:left;
    width: 16px;
    height: 16px;
    background-color:#fff;
    margin-right:8px;
    cursor:pointer;
    border-radius:50%;
    display: block;
}
#dotWrap .focus{
    background-color:orange;
}

/* 第四部分 图标 */
#business-con{
    width: 1200px;
    height: 87px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#business-con li{
    width: 20%;
    cursor: pointer;
}
#business-con li img{
    width: 243px;
    border: 1px #ccc solid;
    margin: 20px 5px 0 0;
}

/* 第五部分 内容1 */
#news-first{
    width: 1200px;
    height: 270px;
    margin: 0 auto;
}
#news-first .top{
    width: 100%;
    margin-top: 45px;
}
#news-first .top span:nth-child(1){
    width: 4px;
    height: 25px;
    /* display: inline-block; */
    background: #f01f27;
    margin-right: 14px;
    float: left;
    margin-top: 6px;
}
#news-first .top span:nth-child(2){
    float: left;
    height: 35px;
    /* display: inline-block; */
    line-height: 35px;
    color: #000000;
    font-weight: bold;
    vertical-align: middle;
}
#news-first .bottom{
    width: 1200px;
    height: 235px;
    display: flex;
}
#news-first .bottom img{
    float: left;
    margin-top: 10px;
    width: 392px;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
#news-first .bottom img:hover{
    border: 5px #f01f27 solid;
    border-bottom: none;
}
/* 第五部分 内容2*/
#news-two{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 60px;
}
#news-two .top{
    width: 100%;
    height: 35px;
}
#news-two .top .left span:nth-child(1){
    width: 4px;
    height: 25px;
    /* display: inline-block; */
    background: #f01f27;
    margin-right: 14px;
    float: left;
    margin-top: 6px;
    font-weight: bold;
}
#news-two .top .left span:nth-child(2){
    float: left;
    height: 35px;
    /* display: inline-block; */
    line-height: 35px;
    color: #000000;
    font-weight: bold;
}
#news-two .top .right span:nth-child(2){
    height: 35px;
    float: right;
    font-size: #999999;
    font-size: 12px;
    line-height: 35px;
}
#news-two .bottom{
    width: 1200px;
    height: 332px;
}
#news-two .bottom .bottom-v{
    width: 288px;
    margin-bottom: 20px;
    float: left;
    margin-right: 15px;
}
#news-two .bottom .bottom-v:nth-child(4),#news-two .bottom .bottom-v:nth-child(8){
    margin-right: 0;
}
#news-two .bottom .bottom-v .top{
    width: 288px;
    height: 300px;
}
#news-two .bottom .bottom-v .top img{
    width: 288px;
    height: 288px;
}
#news-two .bottom .bottom-v .text{
    font-size: 12px;
    text-align: center;
}
#news-two .bottom .bottom-v .text p:nth-child(2) span{
    color: #ff0000;
}
#news-two .top .left .span:hover{
    cursor: pointer;
}
#news-two img:hover,#news-two p:hover{
    cursor: pointer;
}

/* 第六部分 售后 */
.footer{
    width: 100%;
}
.footer .box1{
    width: 100%;
    height: 248px;
    border-top: 1px #ccc solid;
}
.footer .box1-con{
    width: 1200px;
    height: 248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer .box1-con .left{
    width: 158px;
    height: 248px;
}
.footer .box1-con .left .top{
    width: 158px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}
.footer .box1-con .left .bottom{
    width: 150px;
    height: 140px;
    font-size: 14px;
    border: 1px #ccc solid;
    text-align: center;
    position: relative;
}
.footer .box1-con .left .bottom img{
    position: absolute;
    top: 30px;
    left: 50px;
}
.footer .box1-con .left .bottom li:nth-child(2){
    text-align: center;
    line-height: 230px;
}

.footer .box1-con .center{
    width: 738px;
    height: 248px;
    box-sizing: border-box;
}
.footer .box1-con .center .top{
    width: 100%;
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}
.footer .box1-con .center .bottom{
    width: 150px;
    height: 140px;
    font-size: 14px;
    border: 1px #ccc solid;
    text-align: center;
    position: relative;
    float: left;
    margin: 0 15px;
    overflow: hidden;
}
.footer .box1-con .center .bottom:nth-child(4){
    margin-right: 0px;
}
.footer .box1-con .center .bottom img{
    position: absolute;
    top: 30px;
    left: 50px;
}
.footer .box1-con .center .bottom li:nth-child(2){
    text-align: center;
    line-height: 230px;
}
.footer .box1-con .right .top{
    width: 200px;
    height: 110px;
    text-align: center;
    line-height: 120px;
    box-sizing: border-box;
    /* background-color: #f01f27; */
    margin-top: 40px ;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer .box1-con .right .top img{
    width: 47px;
    height: 56px;
    position: absolute;
    top: 30px;
    left: 20px;
}
.footer .box1-con .right .top div:nth-child(2){
    width: 112px;
    padding-top: 30px;
    /* background-color: aqua; */
    display: table-cell;
    vertical-align: middle;
}
.footer .box1-con .right .top span:nth-child(2){
    font-weight: bold;
}
.footer .box1-con .right .top span{
    height: 20px;
    font-size: 12px;
    display: block;
    line-height: 20px;
}
.footer .box1-con .right .bottom{
    width: 230px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
    margin-top: 10px;
    border: 1px #ccc solid;
    cursor: pointer;
}
.footer .box1-con .right .bottom img{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 15px;
}
.footer .box2{
    width: 100%;
    height: 100px;
    background-color: #292929;
}
.footer .box2-con{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .box2-con div:nth-child(1){
    display: inline-block;
    line-height: 60px;
    padding-left: 74px;
    font-size: 20px;
    color: #999;
    margin-right: 70px;
    height: 61px;
    background: url(../images/15.png) no-repeat;
}
.footer .box2-con div:nth-child(2){
    display: inline-block;
    line-height: 60px;
    padding-left: 74px;
    font-size: 20px;
    color: #999;
    margin-left: 70px;
    height: 60px;
    background: url(../images/16.png) no-repeat;
}
.footer .box3{
    padding: 20px 0;
    background: #000000;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}
.footer .box3-con{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    color: #868686;
    font-size: 12px;
}
.footer .box3-con p{
    line-height: 24px;
    cursor: pointer;
}
.footer .box3-con p img{
    margin-right: 15px;
    display: inline;
    padding-top: 10px;
}
/* 返回到页面顶端 */
.ant{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.ant .ant-a{
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 50%;
}
.ant .ant-b{
    width: 14px;
    height: 16px;
    margin: 12px auto;
    background: url(../images/21.png) 100%/100% no-repeat;
}